<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--    <properties resource="db-connection-test.properties" />-->
    
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="cacheEnabled" value="true"/>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>

    <typeAliases>
        <package name="org.neptrueworks.ordermanagement.data.entitizing"/>
    </typeAliases>

<!--    <mappers>-->
<!--        <package name="org.neptrueworks.ordermanagement.data.mapping.*EntityMappable"/>-->
<!--    </mappers>-->
</configuration>